.movies-cont  ainer {
  display: flex;
  flex-flow: column wrap;
  margin-top: 0px;
}

.movies-container .movie, .movies-container .movieResults {
  display: flex;

  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
  padding: 0 35px;
}

.bestmovies-container .h4{
  font-size: small;
  font-style: oblique;

}
.movie .header, .movieResults .Country, .movieResults .Province, .movieResults .Confirmed,.movieResults .Recovered, .movieResults .Death{
  flex: 1 0 25%;
}

